ul {
    display: flex;
    /* margin: 3px 5px; */
    list-style-type: none;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    padding: 0;
}

li a{
    height: 10rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    text-decoration: none;
}

li a:hover{
    cursor: pointer;
    opacity: 0.9;
}

.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: static;
    height: 7rem;
  }

.title {
    justify-content: space-between;
    display: flex;
    
}

.name {
    text-decoration: underline;
}

.gold {
    color: gold;
    
}

.gray {
    color:gray;
}

.location {
    display: flex;

}

.location  span{
    margin-right: 1rem;;
    margin-left: 0rem;
    color: gray;
      
}

.favorite.not{
    color: gray;
}
